.isSameMonth {
  opacity: 50%;
}

.isPrevDate {
  cursor: not-allowed;
  opacity: 50% !important;
}

.isToday {
  border-color: #6366f1;
  cursor: pointer !important;
  opacity: 100% !important;
}

.isSelectedDate {
  background-color: #22c55e;
  color: white;
  opacity: 100%;
}
