<div class="max-w-7xl mx-auto">
  <div class="relative shadow-xl rounded-2xl overflow-hidden">
    <!-- Background -->
    <div class="absolute inset-0">
      <img alt="index splash" class="w-full h-full" src="assets/images/index-splash.jpg"/>
      <div class="absolute inset-0 bg-gradient-to-r from-purple-800 to-indigo-700 mix-blend-multiply"></div>
    </div>

    <!--    Content -->
    <div class="relative px-4 pt-28 pb-32">
      <div class="ml-12">
        <h1 class="text-4xl text-white font-bold tracking-tight">
          <span class="block">Create your poll</span>
          <span class="block text-indigo-300">in seconds</span>
        </h1>

        <p class="mt-6 text-xl text-indigo-200 max-w-3xl">
          Want to ask your friends where to go friday night or arrange a meeting <br> with co-workers? Create a poll -
          and
          get answers in no time.
        </p>

        <div class="mt-10">
          <a class="secondaryBtn py-3 px-8 text-base font-medium text-indigo-500" routerLink="/create">Create a poll</a>
        </div>
      </div>
    </div>
  </div>
</div>
