<div class="bg-gray-50 h-screen">
  <div class="bg-gray-50">
    <div class="py-6 px-8 flex items-center justify-center max-w-lg mx-auto flex-col">
      <div class="flex items-center justify-center flex-col">
        <a class="" routerLink="/">
          <svg-icon fontSize="40px" key="logo"></svg-icon>
        </a>
        <h2 class="text-3xl mt-6 font-semibold">Forgot your password?</h2>
        <p class="mt-2 text-sm">We can help you set a new one!</p>
      </div>

      <div class="mt-8 primaryBox w-full px-10 text-start">
        <form #form="ngForm" (ngSubmit)="onSubmitForm()" [formGroup]="fForgotPassword" class="flex flex-col gap-y-6"
              novalidate>
          <div class="">
            <label class="font-medium text-gray-700" for="email">Email address</label>
            <input class="mt-1 block py-2 w-full px-3 input text-textGrayDark"
                   formControlName="email"
                   id="email" type="email"/>

            <span
              *ngIf="(fForgotPassword.get('email')?.errors?.['required'] && fForgotPassword.get('email')?.touched) || (fForgotPassword.get('email')?.errors?.['required'] && form.submitted)"
              class="block text-sm text-validateText mt-2">Please enter your email!</span>
            <span
              *ngIf="(fForgotPassword.get('email')?.errors?.['email'] && fForgotPassword.get('email')?.touched) || (fForgotPassword.get('email')?.errors?.['email'] && form.submitted)"
              class="block text-sm text-validateText mt-2">Email address is invalid!</span>
          </div>

          <p class="">Please enter your email address so we can send you instructions on how to set up a new password
            for your account.</p>

          <div *ngIf="messageError != ''"
               class="rounded-md bg-red-50 border border-transparent p-4 flex items-center gap-x-2 text-validateText">
            <svg-icon fontSize="20px" key="x-circle-fill"></svg-icon>
            <span class="">{{ messageError }}</span>
          </div>

          <div class="">
            <div *ngIf="isSendEmailSuccessfully" class="text-green-500">
              <svg-icon class="" fontSize="16px" key="check"></svg-icon>
              <span
                class="text-textGrayDark ml-2">An email to reset your password was just sent. Please check your inbox.</span>
            </div>

            <!--            When send email successfully, hidden button reset password -->
            <button *ngIf="!isSendEmailSuccessfully" class="primaryBtn py-2 px-4 w-full" type="submit">Reset password
            </button>
          </div>

          <div class="flex items-center justify-between">
            <span class="">Did you remember your password?</span>
            <a class="text-link flex items-center gap-x-2 font-semibold" routerLink="../login">
              <span>Go to Login</span>
              <svg-icon fontSize="16px" key="arrow-right"></svg-icon>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
