<div class="bg-gray-50 h-screen">
  <div class="bg-gray-50">
    <div class="py-6 px-8 flex items-center justify-center max-w-lg mx-auto flex-col">
      <div class="flex items-center justify-center flex-col">
        <a class="" routerLink="/">
          <svg-icon fontSize="40px" key="logo"></svg-icon>
        </a>
        <h2 class="text-3xl mt-6 font-semibold">Set a new password</h2>
      </div>

      <div class="mt-8 primaryBox w-full px-10 text-start">
        <form #form="ngForm" (ngSubmit)="onSubmitForm()" [formGroup]="fNewPassword" class="flex flex-col gap-y-6"
              novalidate>

          <div class="">
            <label class="font-medium text-gray-700" for="password">Password</label>
            <input class="mt-1 block py-2 w-full px-3 input text-textGrayDark"
                   formControlName="password"
                   id="password" type="password"/>

            <span
              *ngIf="(fNewPassword.get('password')?.errors?.['required'] && fNewPassword.get('password')?.touched) || (fNewPassword.get('password')?.errors?.['required'] && form.submitted)"
              class="block text-sm text-validateText mt-2">Please enter your password!</span>
            <span
              *ngIf="(fNewPassword.get('password')?.errors?.['minlength'] && fNewPassword.get('password')?.touched) || (fNewPassword.get('password')?.errors?.['minlength'] && form.submitted)"
              class="block text-sm text-validateText mt-2">Password must be at least 8 characters long!</span>
          </div>

          <div class="">
            <label class="font-medium text-gray-700" for="confirmPassword">Confirm password</label>
            <input class="mt-1 block py-2 w-full px-3 input text-textGrayDark"
                   formControlName="confirmPassword"
                   id="confirmPassword" type="password"/>

            <span
              *ngIf="(fNewPassword.get('confirmPassword')?.errors?.['required'] && fNewPassword.get('confirmPassword')?.touched) || (fNewPassword.get('confirmPassword')?.errors?.['required'] && form.submitted); else notMatch"
              class="block text-sm text-validateText mt-2">Please enter confirm password!</span>
            <ng-template #notMatch>
                <span
                  *ngIf="(fNewPassword.hasError('passwordnotmatch') && fNewPassword.get('confirmPassword')?.touched) || (fNewPassword.hasError('passwordnotmatch') && form.submitted)"
                  class="block text-sm text-validateText mt-2">Confirm password does not match!</span>
            </ng-template>

          </div>

          <div *ngIf="messageError != ''"
               class="rounded-md bg-red-50 border border-transparent p-4 flex items-center gap-x-2 text-validateText">
            <svg-icon fontSize="20px" key="x-circle-fill"></svg-icon>
            <span class="">{{ messageError }}</span>
          </div>

          <button class="primaryBtn py-2 px-4" type="submit">Set a new password</button>
        </form>
      </div>
    </div>
  </div>
</div>
